body{
    margin: 0 auto;
}

.header-part{
    width: 100%;
    height: 150px;
    background-color: red;

    .header-content{
        width: 100%;
        height: 150px;
        background-color: red;
    }

}