th{
    color: #000;
    border: 2px solid black;
    width: 20%;

}

.sectionTable{
    width: 100%;
    display: flex;
    justify-content: center;
}


.table-content{
    width: 100%;
    display: flex;
    justify-content: center;
}

table{
    width: 75vw ; 
    border-spacing: unset ;

}


td {
    color: #000;
    border-bottom: 1px solid black;
    height: 50px;
    overflow: hidden;
}

td p {
    text-align: center;
}


thead,
tfoot {
    color: #fff;
    border: 1px solid black;
}
